@import url(https://fonts.googleapis.com/css?family=Merriweather:700);

@font-face {
  font-family: Gotham;
  src: url(../fonts/gothaconlig-webfont.woff);
}
body, html {
  padding: 0;
  margin: 0;
  font-family: Gotham;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.abscontainer {
  font-size: 2em;
  color: black;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  top: 30%;
  right: 53%;
  text-align: right;
}

.abscontainer h1 {
  pointer-events: none;
}

.links li {
  transition-duration: 0.5s;
  opacity: 0;
  list-style-type: none;
}

.links li:hover {
  cursor: pointer;
  padding-right: 24px;
}

.links li:after {
  content: "≫";
  margin-left: 8px;
}


body {
  position: relative;
}

.canvasbg {
  position: absolute;
  background: radial-gradient( rgba(0, 0, 0, 0), rgba(50, 50, 50, 0.2));
  height: 100vh;
  width: 50%;
  top: 0;
  left: 0;
  z-index: -1
}

.half-container {
  position: absolute;
  background-color: rgb(179, 55, 55);
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  z-index: -1;
}

.main-title {
  position: absolute;
  top: 30%;
  left: 53%;
  text-align: left;
  color: white;
  font-size: 4em;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  pointer-events: none;
  font-weight: 700;
  z-index: 1;
  transition-duration: 1s
}

.main-title a {
  margin: 0;
  text-decoration: none;
  color: #d69741;
  text-shadow: 1px 1px 5px rgb(63, 63, 63);
  transition-duration: 1s;
  display: block;
  position: relative;
}


.container-content {
  position: absolute;
  top: 43%;
  left: 53%;
  width: 41%;
  font-size: 36px;
  color: white;
  text-shadow: 1px 1px 5px grey;
  transition-duration: 0.7s;
  opacity: 0;
  display: none;
}

#home-content {
  top: 48%;
  display: block;
}

button {
  padding: 24px;
  background: #d69741;
  border: 2px solid #d69741;
  font-size: 24px;
  color: white;
  transition-duration: 0.3s;
  font-family: Gotham;
}

button:hover {
  background: #d69741;
  cursor: pointer;
  color: black;
}

#t1 { 
  opacity: 0;
}

#t2 { 
  opacity: 0;
}

#question {
  transition-duration: 0.3s;
}