/*
  Template Name: Sheltek - Real Estate HTML Template 
  Description: This is html5 template
  Author: DevItems
  Version: 1.0
  Design and Developed by: DevItems
  NOTE: This is main style sheet of template, 
  This file contains the styling for the actual Template. 
  Please do not change anything here! write in a custom.css file if required!

*/
/*================================================
[  Table of contents  ]
================================================
  1.General
  2. Typography
  3. transtion
  4 buttons 
  5. Input 
  6. Basic margin padding 
      6.1 Margin top 
      6.2 Margin right  
      6.3 Margin bottom 
      6.4 Margin left 
      6.5 Padding top
      6.6 Padding right 
      6.7 Padding bottom  
      6.8 Padding left 
      6.9 Page section padding 
      6.10 Page section margin 
  7. Extra margin and padding
  8. Scroll Up 
  9. Extra class (Custom cloumn)
  10. Text color
  11. Background variation set 
  12. Opacity background
  13. image background
  14. separator
  15. Section title 1 
  16. section title 2 
======================================
[ End table content ]
======================================*/

/*************************
  1.General
*************************/
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #3b5265;
  font-weight: 400;
  font-size: 14px;
  line-height: 27.2px;
  line-height: 1.7rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  background: #fff none repeat scroll 0 0;
}
a,
.btn, i {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.btn {
  border-radius: 0px;
  font-size: 14px;
  padding: 0px 15px;
  height: 30px;
  line-height: 30px;
}
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: #95c41f;
  text-decoration: none;
}
a,
button,
input {
  outline: medium none;
  color: #666666;
}
/* =========================
  2. Typography
============================= */
html {
    font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Raleway', sans-serif;
    color: #1f223e;
    -webkit-font-variant-ligatures: common-ligatures;
            font-variant-ligatures: common-ligatures;
    margin-top: 0;
    font-weight: 700;
}
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400;
}
h1, .h1 {
    font-size: 36px;
}
h2, .h2 {
    font-size: 30px;
}
h3, .h3 {
    font-size: 26px;
}
h4, .h4 {
    font-size: 20px;
}
h5, .h5 {
    font-size: 18px;
}
h6, .h6 {
    font-size: 16px;
}

@media all and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

@media all and (max-width: 767px) {
    h1, .h1 {
        font-size: 30px;
        font-weight: 500;
    }
    h2, .h2 {
        font-size: 24px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 16px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h6, .h6 {
        font-size: 16px;
    }
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
span a,
li a { 
  color: inherit 
}
p {
  color: #606060;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 15px;
}
.g-font-1 {
  font-family: "Raleway",sans-serif;
}
.g-font-2 {
  font-family: 'Montserrat', sans-serif;
}
.font-w-5 {
  font-weight: 500;
}
.font-w-6 {
  font-weight: 600;
}
.font-w-7 {
  font-weight: 700;
}
img{
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
ul {
  margin: 0px;
  padding: 0px;
}
li { 
  list-style: none; 
}
hr {
  border-bottom: 1px solid #eeeeee;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}
hr.style-2{
  border-bottom: 1px dashed #eceff8;
}
hr.mp-0 {
  margin: 0;
  border-bottom: 1px solid #eceff8;
}
hr.mtb-40 {
  margin: 40px 0;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}
td {
  font-weight: 300;
}
label {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
.mark, mark {
  background: #95c41f none repeat scroll 0 0;
  color: #fff;
}
span.tooltip-content {
  color: #1f223e;
  cursor: help;
  font-size: 18px;
  font-weight: 400;
}
.f-left {
  float: left
}
.f-right {
  float: right
}
.fix {
  overflow: hidden
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.pos-absolute.container {
  left: 0;
  right: 0;
}
.pos-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
@media all and (max-width: 767px) {
  .pos-vertical-center {
    top: 0;
    transform: none;
    -webkit-transform: none;
  }
}
@media all and (max-height: 600px) {
  .pos-vertical-center {
    top: 0;
    transform: none;
    -webkit-transform: none;
  }
}
.pos-vertical-align-columns {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.pos-vertical-align-columns > div[class*='col-'] {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
@media all and (max-width: 990px) {
  .pos-vertical-align-columns {
    display: block;
    width: auto;
  }
  .pos-vertical-align-columns > div[class*='col-'] {
    display: block;
  }
}
/***************************
  3. transtion
****************************/
 a.button:after,
a.button-small:after {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
} 
 .share ul,
.share:hover ul {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a.button-border span,
a.button-border-white span,
input,
select,
textarea {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
} 

/*************************
    4 buttons 
*************************/
.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
}
.button.large { padding: 16px 80px; font-size: 18px;  }

.button.medium { padding: 14px 60px; font-size: 16px; }

.button.small { padding: 8px 20px; font-size: 14px; }

.button.extra-small { padding: 5px 18px; font-size: 14px; }

.width-100 {
  display: block;
}
.width-100 {
  text-align: center;
  width: 100%;
}
.btn-transparent { background: transparent; }
.btn-border { border: 1px solid #fff; }

/*************************
  5. Input 
*************************/
input[type="text"], 
input[type="email"], 
input[type="password"] {
  background: transparent;
  border: 1px solid #e1e1e1;
  color: #606060;
  font-family: 'Montserrat', sans-serif;  
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-moz-placeholder { /* Firefox 18- */
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
textarea::-webkit-input-placeholder {
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
textarea::-moz-placeholder {
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
textarea:-ms-input-placeholder {
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
textarea:-moz-placeholder {
  color: #606060;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
select {
  border: 1px solid #eeeeee;
  color: #999999;
  font-size: 13px;
  height: 30px;
  padding-left: 20px;
}
option {
  background: #ffffff none repeat scroll 0 0;
  border: 0 solid #626262;
  font-size: 13px;
  padding-left: 10px;
}
textarea {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  color: #606060;
  font-family: "Montserrat",sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding: 10px 10px 10px 20px;
  resize: vertical;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
.footer-contact textarea:focus {
  border: 1px solid #95c41f;
}
textarea:focus {
  outline: none;
}
::-moz-placeholder {
    color: #444;
    font-size: 13px;
}


/*custom-select*/
.custom-select-2 {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.custom-select-2 {
  color: #606060;
  background: rgba(0, 0, 0, 0) url("../../images/icons/down-arrow.png") no-repeat scroll 97% center;
  border: 1px solid #e1e1e1;
  height: 40px;
  line-height: 38px;
  margin-bottom: 20px;
  width: 100%; 
  font-family: 'montserrat';
  font-weight: 300;
}
.custom-select-2 option {
  font-size: 13px;
  padding: 3px 0 0 20px;
}



/*************************
  6. Basic margin padding  
*************************/
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
/*************************
    6.1 Margin top 
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-55 { margin-top: 55px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-75 { margin-top: 75px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-115 { margin-top: 115px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
.mt-160 { margin-top: 160px }
.mt-170 { margin-top: 170px }
.mt-180 { margin-top: 180px }
.mt-190 { margin-top: 190px }
.mt-200 { margin-top: 200px }
/*************************
    6.2 Margin right  
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
    6.3 Margin bottom 
*************************/
.mb-0 { margin-bottom: 0 }
.mb-5 { margin-bottom: 5px }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-25 { margin-bottom: 25px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-55 { margin-bottom: 55px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-75 { margin-bottom: 75px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-115 { margin-bottom: 115px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
.mb-160 { margin-bottom: 160px }
.mb-170 { margin-bottom: 170px }
.mb-180 { margin-bottom: 180px }
.mb-190 { margin-bottom: 190px }
.mb-200 { margin-bottom: 200px }
/*************************
    6.4 Margin left 
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
    6.5 Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-55 { padding-top: 55px }
.pt-60 { padding-top: 60px }
.pt-70 { padding-top: 70px }
.pt-75 { padding-top: 75px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-115 { padding-top: 115px }
.pt-120 { padding-top: 120px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }
.pt-160 { padding-top: 160px }
.pt-170 { padding-top: 170px }
.pt-180 { padding-top: 180px }
.pt-190 { padding-top: 190px }
.pt-200 { padding-top: 200px }
/*************************
    6.6 Padding right 
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
    6.7 Padding bottom  
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-25 { padding-bottom: 25px }
.pb-30 { padding-bottom: 30px }
.pb-40 { padding-bottom: 40px }
.pb-50 { padding-bottom: 50px }
.pb-55 { padding-bottom: 55px }
.pb-60 { padding-bottom: 60px }
.pb-70 { padding-bottom: 70px }
.pb-75 { padding-bottom: 75px }
.pb-80 { padding-bottom: 80px }
.pb-90 { padding-bottom: 90px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-115 { padding-bottom: 115px }
.pb-120 { padding-bottom: 120px }
.pb-130 { padding-bottom: 130px }
.pb-140 { padding-bottom: 140px }
.pb-150 { padding-bottom: 150px }
.pb-160 { padding-bottom: 160px }
.pb-170 { padding-bottom: 170px }
.pb-180 { padding-bottom: 180px }
.pb-190 { padding-bottom: 190px }
.pb-200 { padding-bottom: 200px }
/*************************
    6.8 Padding left 
*************************/
.pl-0 { padding-left: 0 }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }
/***************************
    6.9 Page section padding   
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-55 { padding: 55px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-75 { padding: 75px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-115 { padding: 115px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }
.ptb-160 { padding: 160px 0 }
.ptb-170 { padding: 170px 0 }
.ptb-180 { padding: 180px 0 }
.ptb-190 { padding: 190px 0 }
.ptb-200 { padding: 200px 0 }
/***************************
    6.10 Page section margin 
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-35 { margin: 35px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-55 { margin: 55px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-75 { margin: 75px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-115 { margin: 115px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }
.mtb-160 { margin: 160px 0; }
.mtb-170 { margin: 170px 0; }
.mtb-180 { margin: 180px 0; }
.mtb-190 { margin: 190px 0; }
.mtb-200 { margin: 200px 0; }
/***************************
  7. Extra margin and padding
****************************/
.plr-140 {
  padding-left: 7%;
  padding-right: 7%;
}
/***************************
  8. Scroll Up 
****************************/
#scrollUp {
  background: #919191 none repeat scroll 0 0;
  bottom: 70px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  right: 3%;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
}
#scrollUp i {
  line-height: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#scrollUp:hover {
  background: #95c41f none repeat scroll 0 0;
  color: #ffffff;
}
/*Call to action*/
.action-box-button a.button span {
  font-size: 13px;
  padding: 11px 12px;
}
/*************************************
  9. Extra class (Custom cloumn)
*************************************/
.pricing .container .row [class*="col-"] { }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
    float: left;
}
.col-1{
    width: 10%;
}
.col-2{
    width: 20%;
}
.col-3{
    width: 30%;
}
.col-4{
    width: 40%;
}
.col-5{
    width: 50%;
}
.col-6{
    width: 60%;
}
.col-7{
    width: 70%;
}
.col-8{
    width: 80%;
}
.col-9{
    width: 90%;
}
.col-10{
    width: 100%;
}

/*************************
  10. Text color
*************************/
.text-theme { color: #95c41f; }
.text-black { color: #575757; }
.text-white { color: #fff; }
.text-gray { color: #666; }
.text-blue { color: #4FC1F0; }

.text-white h1,
.text-white h2,
.text-white h3 {
  color: #ffffff;
}
/*************************************
  11. Background variation set 
 **************************************/
/*colored background*/
.bg-gray{ background: #f5f5f5; }
.bg-blue{ background: #1f223e; }

.bg-theme { background: #95c41f; }
.bg-black { background: #222222; }
.bg-white { background: #fff; }
/* .bg-default { background: #f6f6f6; } */
.bg-transparent { background: transparent; }

/*************************************
  12. Opacity background
 **************************************/
 .bg-opacity-black-10, .bg-opacity-black-20, .bg-opacity-black-30, .bg-opacity-black-40, .bg-opacity-black-50, .bg-opacity-black-60, .bg-opacity-black-70, .bg-opacity-black-80, .bg-opacity-black-90, .bg-opacity-white-10, .bg-opacity-white-20, .bg-opacity-white-30,  .bg-opacity-white-40, .bg-opacity-white-50, .bg-opacity-white-60, .bg-opacity-white-70,  .bg-opacity-white-80, .bg-opacity-white-90{
    z-index: 9; 
 }
 .bg-opacity-black-10:before, .bg-opacity-black-20:before, .bg-opacity-black-30:before, .bg-opacity-black-40:before, .bg-opacity-black-50:before, .bg-opacity-black-60:before, .bg-opacity-black-70:before, .bg-opacity-black-80:before, .bg-opacity-black-90:before, .bg-opacity-white-10:before, .bg-opacity-white-20:before, .bg-opacity-white-30:before, .bg-opacity-white-40:before, .bg-opacity-white-50:before, .bg-opacity-white-60:before, .bg-opacity-white-70:before, .bg-opacity-white-80:before, .bg-opacity-white-90:before{
    content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; 
 }
.bg-opacity-black-10:before {  background: rgba(0, 0, 0, 0.1);}
.bg-opacity-black-20:before {  background: rgba(0, 0, 0, 0.2);}
.bg-opacity-black-30:before {  background: rgba(0, 0, 0, 0.3);}
.bg-opacity-black-40:before {  background: rgba(0, 0, 0, 0.4);}
.bg-opacity-black-50:before {  background: rgba(0, 0, 0, 0.5);}
.bg-opacity-black-60:before {  background: rgba(0, 0, 0, 0.6);}
.bg-opacity-black-70:before {  background: rgba(0, 0, 0, 0.7);}
.bg-opacity-black-80:before {  background: rgba(0, 0, 0, 0.8);}
.bg-opacity-black-90:before {  background: rgba(0, 0, 0, 0.9);}

.bg-opacity-white-10:before {  background: rgba(255, 255, 255, 0.1);}
.bg-opacity-white-20:before {  background: rgba(255, 255, 255, 0.2);}
.bg-opacity-white-30:before {  background: rgba(255, 255, 255, 0.3);}
.bg-opacity-white-40:before {  background: rgba(255, 255, 255, 0.4);}
.bg-opacity-white-50:before {  background: rgba(255, 255, 255, 0.5);}
.bg-opacity-white-60:before {  background: rgba(255, 255, 255, 0.6);}
.bg-opacity-white-70:before {  background: rgba(255, 255, 255, 0.7);}
.bg-opacity-white-80:before {  background: rgba(255, 255, 255, 0.8);}
.bg-opacity-white-90:before {  background: rgba(255, 255, 255, 0.9);}

/*************************************
  13. image background
 **************************************/
.bg-1 {background: url(images/bg/1.jpg);}
.bg-2 { background: url(images/bg/2.jpg);}
.bg-3 { background: url(images/bg/3.jpg);}
.bg-4 { background: url(images/bg/4.jpg);}
.bg-5 { background: url(images/bg/5.jpg);}
.bg-6 { background: url(images/bg/6.jpg);}
.bg-7 { background: url(images/bg/7.jpg);}
.bg-8 { background: url(images/bg/8.jpg);}
.bg-9 { background: url(images/bg/9.jpg);}
.bg-10 { background: url(images/bg/10.jpg);}

.bg-1 {background: url(../../images/bg/1.jpg);}
.bg-2 { background: url(../../images/bg/2.jpg);}
.bg-3 { background: url(../../images/bg/sl1.jpg);}
.bg-4 { background: url(../../images/bg/4.jpg);}
.bg-5 { background: url(../../images/bg/5.jpg);}
.bg-6 { background: url(../../images/bg/6.jpg);}
.bg-7 { background: url(../../images/bg/7.jpg);}
.bg-8 { background: url(../../images/bg/8.jpg);}
.bg-9 { background: url(../../images/bg/9.jpg);}
.bg-10 { background: url(../../images/bg/10.jpg);}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9, .bg-10{
  background-attachment: fixed; 
  background-clip: initial; 
  background-color: rgba(0, 0, 0, 0);
  background-origin: initial; background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  z-index: 0;
}
/*pattern background*/
.pattern-bg { 
 background:url(images/pattern/pattern-bg.png) repeat; 
 background-position: top right; 
 background-color: rgba(236, 239, 247, 1); 
}
/*************************************
  14. separator
 **************************************/
.separator{
    position: relative;
    display: inline-block;
    clear: both;
    background: rgba(0, 0, 0, 0.07) none repeat scroll 0 0;
    bottom: 0;
    height: 1px;
    width: 33%;
}
.separator:before {
  background: #4fc1f0 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100px;
}
.section-title:hover .separator:before {
  width: 75%;
}
.separator i {
  background: #ECEFF7 none repeat scroll 0 0;
  color: #4fc1f0;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: -20px;
  width: 40px;
}
.separator span {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #4fc1f0;
  border-radius: 100%;
  display: block;
  height: 10px;
  position: absolute;
  top: -5px;
  width: 10px;
}
.separator i, .separator span {
  left: 0;
  -webkit-transform: none;
          transform: none;
}
.text-center .separator:before, .text-center .separator i, .text-center .separator span  {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.text-right .separator:before, .text-right .separator i, .text-right .separator span  {
  left: auto;
  -webkit-transform: none;
          transform: none;
  right: 0;
}
/*************************
  15. Section title 1 
***********************/
.section-title {}
.section-title h1,
.section-title h2,
.section-title h3 {
  margin-bottom: 0;
}
.section-title h3 {
  font-weight: 600;
}
.section-title p {
    margin-bottom: 0px;
    font-size: 14px;
}

/*************************
  16. section title 2 
*************************/
.section-title-2 {
  margin: auto;
  width: calc(100% - 30%);
}
.section-title-2 { margin-bottom: 55px }
.section-title-2 h1 {}
.section-title-2 h2 {
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section-title-2 p {}
.section-title-2 .title-line { padding: 20px 0 15px }

/*====================*/
